// Customized Bootstrap variables
// (none at the moment)

// Import default Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Board appearance
$board-line: 2px solid black;
$cell-size:  100px;
$mark-size:  70px;

.board {
    margin-top: $spacer * 5;
    width: $cell-size * 3;

    .spot {
        text-align: center;
        cursor: default;
        color: $gray-500;
        line-height: $cell-size;
        font-weight: 200;
        height: $cell-size;
        font-size: $mark-size;
    }
    .top, .middle {
        border-bottom: $board-line;
    }
    .left, .center {
        border-right: $board-line;
    }
    .current-mark-x {
        color: $blue;
    }
    .current-mark-o {
        color: $red;
    }
    // Undo some bootstrap
    .row, .col {
        margin: 0;
        padding: 0;
    }
}

#game-message {
    visibility: hidden;
}

#whose-move {
    color: $gray-500;
    font-style: italic;
}

#resetButton {
    display: none;
}

#newGameButton {
    display: none;
}
